@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bright-blue: #0066FF;
  --check-background: linear-gradient(to right, #55DDFF, #C058F3);
  --link-active: #3A7CFD;
}

:root[data-theme='Dark'] {
  --bg-img: url('./assets/bg-mobile-dark.jpg');
  --bg-color: #171823;
  --bg-items: #25273D;
  --line: #393A4B;
  --placeholder-color: #767992;
  --text-item: #C8CBE7;
  --text-item-completed: #4D5067;
}

:root[data-theme='Light'] {
  --bg-img: url('./assets/bg-mobile-light.jpg');
  --bg-color: #FAFAFA;
  --bg-items: #FFF;
  --line: #E3E4F1;
  --placeholder-color: #9495A5;
  --text-item: #494C6B;
  --text-item-completed: #D1D2DA;
}

html {
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
}


body {
  background: var(--bg-img) top/100% 200px no-repeat, var(--bg-color);
}

.app {
  width: 327px;
  margin: 48px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.header__title {
  height: 20px;
  width: 108px;
}

.header__btn-mode {
  transition: transform 0.3s ease-in-out;
}

.header__btn-mode:hover{
  transform: scale(1.1);
}

/* MAIN */
.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.new-todo {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 100%;
  height: 48px;
  background-color: var(--bg-items);
  border-radius: 5px;
}

.list-todo__icon {
  width: 20px;
  height: 20px;
  border: solid 1px var(--line);
  border-radius: 50%;
  margin: 0 12px;
}

.new-todo__input {
  flex: 1;
  height: 100%;
  background-color: var(--bg-items);
  border: none;
  outline: none;
  font-size: 1.2rem;
  color: var(--text-item)
}

.new-todo__input::placeholder {
  color: var(--placeholder-color)
}

.list-todo {
  width: 100%;
  background-color: var(--bg-items);
  border-radius: 5px;
}

.list-todo__item {
  width: 100%;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--line);
}

.list-todo__item:hover {
  cursor: pointer;
}

.list-todo__info-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.list-todo__icon-check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 100%;
  border: 1px solid var(--line);
  margin-right: 13px;
}

.list-todo__icon-check:hover {
  cursor: pointer;
  background-image: var(--check-background);
  border: none;
}

.list-todo__icon-check-brackground {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: var(--bg-items);
  z-index: 9999;
}

.list-todo__icon-check-brackground:hover {
  display: block;
}

.list-todo__icon-completed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 100%;
  background-image: var(--check-background);
  margin-right: 13px;
}

.list-todo__todo {
  width: 90%;
  font-size: 1.2rem;
  color: var(--text-item);
  padding-top: 3px;
}

.list-todo__todo:hover {
  cursor: pointer;
}

.list-todo__input-todo {
  width: 90%;
  font-size: 1.2rem;
  color: var(--text-item);
  background: none;
  outline: none;
  padding-top: 3px;
}

.list-todo__todo-completed {
  font-size: 1.2rem;
  color: var(--text-item-completed);
  padding-top: 3px;
  text-decoration: line-through;
}

.list-todo__icon-close {
  width: 12px;
  height: 12px;
}

.list-todo__actions {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  border-radius: 5px;
}

.list-todo__filters {
  display: none;
  gap: 19px;
  color: var(--placeholder-color)
}

.list-todo-filter:hover,
.list-todo__clear-container:hover {
  color: var(--text-item)
}

.list-todo__count-todo,
.list-todo__clear-container {
  font-size: 1.2rem;
  color: var(--placeholder-color)
}

.list-todo__filters-moviel {
  display: flex;
  justify-content: center;
  gap: 18px;
  padding: 18px;
  background-color: var(--bg-items);
  border-radius: 5px;
}

.filters-movie-filter {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--placeholder-color);
}

.filters-movie-filter--active {
  color: var(--link-active);
}

.footer {
  margin-top: 40px;
  text-align: center;
}

.footer__text {
  font-size: 1.4rem;
  color: var(--placeholder-color);
}

@media screen and (min-width: 768px) {
  :root[data-theme='Dark'] {
    --bg-img: url('./assets/bg-desktop-dark.jpg');
  }

  :root[data-theme='Light'] {
    --bg-img: url('./assets/bg-desktop-light.jpg');
  }

  body {
    background: var(--bg-img) top/100% 300px no-repeat, var(--bg-color);
  }

  .app {
    width: 540px;
  }

  .new-todo__input {
    font-size: 1.8rem;
  }

  .list-todo__icon {
    width: 24px;
    height: 24px;
  }

  .list-todo__todo,
  .list-todo__todo-completed,
  .list-todo__input-todo {
    font-size: 1.8rem;
  }

  .list-todo__icon-completed,
  .list-todo__icon-check {
    width: 24px;
    height: 24px;
  }

  .list-todo__icon-check-brackground {
    width: 22px;
    height: 22px;
  }

  .list-todo__count-todo,
  .list-todo__clear-container,
  .list-todo-filter {
    font-size: 1.4rem;
  }

  .list-todo__filters {
    display: flex;
  }

  .list-todo__filters-moviel {
    display: none;
  }

  .list-todo__count-todo,
  .list-todo__clear-container,
  .list-todo-filter {
    font-size: 1.4rem;
  }
}